* {
    padding: 0%;
    margin: 0%;
}

body {
    display: flex;
    justify-content: center;
}

main {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 80vw;
}

/* -- LOGO -- */
#contenedor-logo {
    margin-top: 40px;
}

/* -- INGRESO -- */
#contenedor-ingreso {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

}

#contenedor-texto-procesar {
    padding-top: 130px;
}

#texto-procesar {
    border: 0;
    background-color: #E5E5E5;
    height: 100%;
    resize: none;
}

#texto-procesar::placeholder{
    color: #0a3871;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
}

#contenedor-texto-condiciones-botones {
    margin-bottom: 72px;
}

#contenedor-condiciones {
    display: flex;
}
#texto-condiciones {
    margin-left: 10px;
    font-size: 0.8rem;
    font-family: "Inter", sans-serif;
}

.boton-accion {
    color: #0a3871;
    background-color: #D8DFE8;
    border-color: #0a3871;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    width: 150px;
    height: 40px;
}

.boton-accion:hover {
    color: #FFFFFF;
    background-color: #0a3871;
}

/* -- RESULTADO -- */
#contenedor-resultado {
    background-color: #FFFFFF;
    height: 90%;
    width: 300px;
    border-radius: 32px;
    margin: 40px 40px 0 0;
}