* {
    padding: 0%;
    margin: 0%;
}

:root {
    --color-azul-oscuro: #0a3871;
    --font-inter: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

main {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 80vw;
}

/* -- LOGO -- */
#contenedor-logo {
    margin-top: 40px;
}

/* -- INGRESO -- */
#contenedor-ingreso {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

}

#contenedor-texto-procesar {
    padding-top: 130px;
}

#texto-procesar {
    border: 0;
    background-color: #E5E5E5;
    height: 100%;
    resize: none;
}

#texto-procesar::placeholder{
    color: var(--color-azul-oscuro);
    font-size: 2rem;
    font-family: var(--font-inter);
}

#contenedor-texto-condiciones-botones {
    margin-bottom: 72px;
}

#contenedor-condiciones {
    display: flex;
}
#texto-condiciones {
    margin-left: 10px;
    font-size: 0.8rem;
    font-family: var(--font-inter);
}

.boton-accion {
    color: var(--color-azul-oscuro);
    background-color: #D8DFE8;
    border-color: var(--color-azul-oscuro);
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    width: 150px;
    height: 40px;
}

.boton-accion:hover {
    color: #FFFFFF;
    background-color: var(--color-azul-oscuro);
}

/* -- RESULTADO -- */
#contenedor-resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    height: 90%;
    width: 300px;
    border-radius: 32px;
    margin: 40px 40px 0 0;
}

#img-resultado {
    display: block;
    width: 100%;
}

#texto-sin-resultado-grande {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: var(--font-inter);
}

#texto-sin-resultado-pequeño {
    text-align: center;
    font-size: 0.9rem;
    font-family: var(--font-inter);
}

.resultado-desktop {
    color: var(--color-azul-oscuro);
    font-family: var(--font-inter);
}

#contenedor-texto-resultado {
    display: flex;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    justify-content: start;
}

#texto-resultado {
    color: var(--color-azul-oscuro);
    font-family: var(--font-inter);
}